<nav>
  <div class="flex justify-center text-2xl gap-4 p-4">
    <a class="px-5 py-2 hover:bg-blue-400 rounded-2xl transition-color duration-300 ease-in-out" href="/">Home</a>

    <a class="px-5 py-2 hover:bg-blue-400 rounded-2xl transition-color duration-300 ease-in-out" href="/user/attendances/index">Attendance</a>

    <a class="px-5 py-2 hover:bg-blue-400 rounded-2xl transition-color duration-300 ease-in-out" href="/user/tasks/index">Tasks</a>
  </div>
</nav>