<div id="<%= dom_id attendance %>">
  <div>
    <strong>Time in:</strong>
    <%= attendance.time_in %>
  </div>

  <div>
    <strong>Time out:</strong>
    <%= attendance.time_out %>
  </div>

  <div>
    <strong>Rendered hours:</strong>
    <%= attendance.rendered_hours %>
  </div>

</div>
